 .breakdance .dm-advanced-list {
  max-width: 100%;
  display: block;
  text-align: left;
}

.breakdance .dm-advanced-list__heading {
  font-size: 14px;
  font-weight: 700;
}

.breakdance .dm-advanced-list ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.breakdance .dm-advanced-list li .dm-advanced-list__item-wrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 15px;
}

.breakdance .dm-advanced-list ul .dm-advanced-list__icon {
  display: flex;
  font-size: 16px;
}

.breakdance .dm-advanced-list ul .dm-advanced-list__icon > svg {
  font-size: inherit;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.breakdance .dm-advanced-list ul .dm-advanced-list__text {
  font-size: 14px;
}

.breakdance .dm-advanced-list li .dm-advanced-list__read-more {
  text-decoration: underline;
}